<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Read (One)</title>
</head>
<body>
    <div class="container mx-auto">
        <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
            <div class="col-sm-4 col-md-4">
                <!-- Brand -->
                <a class="navbar-brand" href="/recipes">Recipe&Social</a>
            
                <!-- Links -->
            </div>
            <div class="col">
                <ul class="navbar-nav float-sm-right">
                  
                  <li class="nav-item">
                      <a class="nav-link" href="/recipes/wall">Wall</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Log Off</a>
                  </li>
                
                </ul>
            </div>
        </nav>
        <div class="row mx-auto">
            <div class="col-sm-4 col-md-4 justify-items">
                <h3>Recipe {{ recipe.id }}</h3>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="row mx-auto">
                <p><strong> {{ recipe.recipe_name }}</strong></p>
                
            </div>
            <div class="row mx-auto">
                
                <p>Ingredients: <br>{{ recipe.ingredients }}</p>
                
            </div>
            <div class="row mx-auto">
                
                <p>Prep/Cooking Time: {{ recipe.duration }} hours</p>
                
            </div><br>
            <div class="row">
                <p>Description: <br>{{ recipe.desc }}</p>
            </div>
            <div class="row">

                <p>Cooking Instructions: <br>{{ recipe.cooking_instruction }}</p><br>
                <p>Last Updated: {{ recipe.updated_at }}</p>
            </div>    
            
        </div>
    
    
        {% if request.session.user_id == recipe.user.id %}
        <a href="/recipes">Go Back | </a>
        <a href="/recipes/{{ recipe.id }}/edit">Edit | </a>
        <a href="/recipes/{{ recipe.id }}/destroy">Delete</a>
        {% else %}
        <a href="/recipes/wall">Go Home</a>
        {% endif %} 
        <div class="container-fluid text-center text-light m-2" style= "background-color:rgb(195 195 195);">You have reached the end of this page</div>
    </div>
</body>
</html>